<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>trabajo 1</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat excepturi dolorum fuga hic nihil reiciendis dolorem. Voluptatum blanditiis commodi deleniti architecto quod, itaque, iste possimus laboriosam corporis, accusantium velit quia!
            </p>
        </ul>
        <ul>
            <li>
                <h2>trabajo 2</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat excepturi dolorum fuga hic nihil reiciendis dolorem. Voluptatum blanditiis commodi deleniti architecto quod, itaque, iste possimus laboriosam corporis, accusantium velit quia!
            </p>
        </ul>
        <ul>
            <li>
                <h2>trabajo 3</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat excepturi dolorum fuga hic nihil reiciendis dolorem. Voluptatum blanditiis commodi deleniti architecto quod, itaque, iste possimus laboriosam corporis, accusantium velit quia!
            </p>
        </ul>
    </div>
</div>