<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="row">
        <div class="col-lg-11">
           <h2>Task List</h2>
           <p>El objetivo es poner en práctica lo aprendido hasta el Módulo 2 de Argentina Programa, con el maquetado en HTML y CSS y crear el proyecto en Angular utilizando las características de Angular (componentes, módulos, databinding, servicios, etc.). </p>
        </div>
        <div class="text-center col-lg-11">
           <img src="../../../assets/TaskList.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
