<div class="row">
    <h1>Hard and Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
       [percent]="15"
       [radius]="100"
       [title]="'HTML'"
       [imageSrc]="'../assets/icons8-html-5-64.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [titleFontSize]="'40'"
       [showUnits]="false"
       [showSubtitle]="false"        
       [outerStrokeWidth]="20"
       [innerStrokeWidth]="10"
       [outerStrokeColor]="'#0d446c'"
       [innerStrokeColor]="'#7fa5c1'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
       [percent]="45"
       [radius]="100"
       [title]="'CSS'"
       [imageSrc]="'../assets/icons8-css3-48.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [titleFontSize]="'40'"
       [showUnits]="false" 
       [showSubtitle]="false"       
       [outerStrokeWidth]="20"
       [innerStrokeWidth]="10"
       [outerStrokeColor]="'#0d446c'"
       [innerStrokeColor]="'#7fa5c1'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
       [percent]="10"
       [radius]="100"
       [title]="'JS'"
       [imageSrc]="'../assets/icons8-logotipo-de-javascript-64.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [titleFontSize]="'40'"
       [showUnits]="false" 
       [showSubtitle]="false"      
       [outerStrokeWidth]="20"
       [innerStrokeWidth]="10"
       [outerStrokeColor]="'#0d446c'"
       [innerStrokeColor]="'#7fa5c1'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
       [percent]="50"
       [radius]="100"
       [title]="'GitHub'"
       [imageSrc]="'../assets/icons8-github-96.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [titleFontSize]="'40'"
       [showUnits]="false"  
       [showSubtitle]="false"      
       [outerStrokeWidth]="20"
       [innerStrokeWidth]="10"
       [outerStrokeColor]="'#0d446c'"
       [innerStrokeColor]="'#7fa5c1'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
       [percent]="70"
       [radius]="100"
       [title]="'inglés'"
       [imageSrc]="'../assets/icons8-colaboración-hombre-mujer-90.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [titleFontSize]="'40'"
       [showUnits]="false" 
       [showSubtitle]="false"       
       [outerStrokeWidth]="20"
       [innerStrokeWidth]="10"
       [outerStrokeColor]="'#0d446c'"
       [innerStrokeColor]="'#7fa5c1'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
       [percent]="95"
       [radius]="100"
       [title]="'collaborations'"
       [imageSrc]="'../assets/icons8-asignación-de-lotes-100.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [titleFontSize]="'20'"
       [showUnits]="false"  
       [showSubtitle]="false"      
       [outerStrokeWidth]="20"
       [innerStrokeWidth]="10"
       [outerStrokeColor]="'#0d446c'"
       [innerStrokeColor]="'#7fa5c1'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>
    </div>
</div>
