 <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/photo_2023-01-24_14-32-09.jpg"
        class="img-fluid"
        id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Lucia Richardson</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy recibida en Diseño de Interiores, pero las vueltas de la vida me llevaron a dedicarme a la docencia, específicamente enseñando Artes Visuales en nivel medio, tarea que encontré apasionante. Actualmente estoy incursionando en los turbulentos pasillos de la programación, lo cual me resulta muy desafiante pero a la vez motivador. En éste momento me encuentro realizando varios cursos en línea para alcanzar un grado de conocimiento que en un futuro próximo me permita dedicarme a ésto también. Pues aquí va un poco de mí... </p>
        </span>
    </div>

 </div>

