.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.redes{
    margin: 1em;
}

#logoAP{
    width: 150px;
}
img{
    width: 40px;
}

.btn{
    margin: 2em;
}

.redes img{
    margin: 0.3em;
}

@media (max-width: 575px){
    .redes img{
        margin: 0em;
    }
}